*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: pink;
}

.guziki {
    margin-top: 1rem;
    padding-top: 2vh;
    height: 14vh;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    text-align: center;
    background-image: linear-gradient(45deg, rgb(12, 14, 12), rgb(141, 30, 99), rgb(12, 14, 12));
}

.guziki>button {
    border-radius: 50%;
    border: 1px solid;
    width: 5rem;
    height: 5rem;
}

.kody {
    margin-top: 2.5vh;
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
}

.kody:p {
    color: white;
}

section {
    width: 50vw;
    border: 1px solid;
    border-radius: 25px;
}

.ostatnie {
    text-align: center;
    font-size: x-large;
}

.kod {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.kod>a {
    text-decoration: none;
    font-size: xx-large;
    border: 1px solid;
    border-radius: 20px;
    background-color: rgb(86, 76, 76);
    height: 4rem;
    width: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.link {
    background-image: radial-gradient( #ff96fd, #f8efff, #ffaffe);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

@media only screen and (min-height:1440px) {
    .guziki {
        height: 10vh;
    }
}